<div class="footer_top">
	<div class="warp">
		
		<div class="left"><a href="javascript:;">联系我们</a></div>
		<div class="center">
		<dl>
			<dt class="big"></dt>
			<dd><a href="javascript:;">在线客服</a></dd>
			<span>(仅支持中文)</span>
		</dl>
		<dl>
			<dt class="big"></dt>
			<dd>400-999-5999</dd>
			<span>(仅支持中文)</span>
		</dl>
		<dl>
			<dt class="big"></dt>
			<dd>service@adidas.com</dd>
			<span>(中英文均支持)</span>
		</dl>
		<dl>
			<dt class="big"></dt>
			<dd>9:00-22:00</dd>
		</dl>
		</div>
		<div class="right"><a href="javascript:;">订单追踪</a></div>
	</div>
</div>
<div class="footer_mid">
	<div class="left">
		<ul>
			<h4>产品</h4>
			<li><a href="javascript:;">鞋类</a></li>
			<li><a href="javascript:;">服装</a></li>
			<li><a href="javascript:;">配件</a></li>
			<li><a href="javascript:;">新品上市</a></li>
			<li><a href="javascript:;">限量发售</a></li>
		</ul>
		<ul>
			<h4>运动</h4>
			<li><a href="javascript:;">跑步</a></li>
			<li><a href="javascript:;">训练</a></li>
			<li><a href="javascript:;">足球</a></li>
			<li><a href="javascript:;">篮球</a></li>
			<li><a href="javascript:;">户外</a></li>
		</ul>
		<ul>
			<h4>帮助中心</h4>
			<li><a href="javascript:;">关于员工</a></li>
			<li><a href="javascript:;">尺码表</a></li>
			<li><a href="javascript:;">adiCLUB会员</a></li>
			<li><a href="javascript:;">门店查询</a></li>
			<li><a href="javascript:;">关于我们</a></li>
			<li><a href="javascript:;">confirmed app</a></li>
			<li><a href="javascript:;">企业社会责任</a></li>
		</ul>
		<ul>
			<h4>网站政策</h4>
			<li><a href="javascript:;">使用条款</a></li>
			<li><a href="javascript:;">隐私声明</a></li>
			<li><a href="javascript:;">物流配送规则</a></li>
			<li><a href="javascript:;">退货规则</a></li>
			<li><a href="javascript:;">定制和印制</a></li>
			<li><a href="javascript:;">adiCLUB会员规则</a></li>
		</ul>
	</div>
	<div class="right">
		<p>关注我们</p>
		<a href="javascript:;"></a>
		<a href="javascript:;"></a>
	</div>
	<div class="small_p">我们接受以下方式付款：<span class="s_pic1"></span>
							<span class="s_pic2"></span>
							<span class="s_pic3"></span>
							<span class="s_pic4"></span>
	</div>
	<p>企业团购热线及邮箱：   团购热线：021-2525 6881   团购邮箱：adidas.b2b@adidas.com (仅限采购金额10万以上)</p>
</div>
<div class="bottom">
	<div class="bot">
		<div class="left">
			<span></span>
			中国&nbsp;
			使用条款&nbsp;
			隐私声明&nbsp;
			网站地图
		</div>
		<div class="right">
			<ul>
				<li>苏ICP14048805号-1</li><span class="ga1"></span>
				<li>c2017 adidas</li><span class="ga2"></span>
				<li>苏公网安备 32059002001401号</li>
			</ul>
		</div>
	</div>
</div>