<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="/css/component/gwc.css"/>
		<script src="/libs/jquery/jquery-1.11.3.js"></script>
	</head>
	<body>
		<header></header>
		<div class="shopping_cart">
			<div class="shop_left">
				<p>您的订单享受免费普通达配送和七天无理由退货服务,铜牌以上会员即可积分兑换优惠券。</p>
				<h3>您的购物袋<span>共几件</span>
					<a href="http://localhost:2333/html/component/list.html">继续购物。</a>
				</h3>
				<div class="cart_qx">
					<label><input type="checkbox" name="qx" id="qx" class="qx"/>&nbsp;全选</label>
					
				</div>
			</div>
			<div class="shop_right">
				
			</div>
		</div>
		<footer></footer>
	</body>
	<script src="/libs/require/require.js" type="text/javascript" data-main="/js/gwc.js"></script>
</html>
