

<div class="header_top">
<div class="left">
	<a href="/index.html"><img src="/images/logo.png" alt="logo"/></a>
</div>
<ul class="center">
	<li id="baba" class="bb">
		<a href="/html/component/list.html">男子</a>
		<div class="list_b">
			<ul>
				<h3>精选推荐</h3>
				<li><a href="javascript:;">新品上市</a></li>
				<li><a href="javascript:;">限量发售</a></li>
				<li><a href="javascript:;">本周热卖</a></li>
				<li><a href="javascript:;">经典白鞋系列</a></li>
				<li><a href="javascript:;">流行纯黑鞋款</a></li>
				<li><a href="javascript:;">Originals|WINTER</a></li>
				<li><a href="javascript:;">Originals|ADICOLOR</a></li>
				<li><a href="javascript:;">adidas neo|生来好动</a></li>
				<span><a href="javascript:;">全部男子产品</a></span>
			</ul>
			<ul>
				<h3>鞋类</h3>
				<li><a href="javascript:;">Originals</a></li>
				<li><a href="javascript:;">跑步</a></li>
				<li><a href="javascript:;">adidas neo</a></li>
				<li><a href="javascript:;">健身</a></li>
				<li><a href="javascript:;">训练</a></li>
				<li><a href="javascript:;">篮球</a></li>
				<li><a href="javascript:;">户外</a></li>
				<li><a href="javascript:;">足球</a></li>
				<span><a href="javascript:;">全部男子鞋</a></span>
			</ul>
			<ul>
				<h3>服饰类</h3>
				<li><a href="javascript:;">运动卫衣</a></li>
				<li><a href="javascript:;">夹克|外套</a></li>
				<li><a href="javascript:;">上衣T恤</a></li>
				<li><a href="javascript:;">运动下装</a></li>
				<li><a href="javascript:;">棉服</a></li>
				<li><a href="javascript:;">紧身裤</a></li>
				<li><a href="javascript:;">泳裤</a></li>
				<li><a href="javascript:;">比赛服</a></li>
				<span><a href="javascript:;">全部男子服饰</a></span>
			</ul>
			<ul>
				<h3>附配件类</h3>
				<li><a href="javascript:;">包</a></li>
				<li><a href="javascript:;">袜子</a></li>
				<li><a href="javascript:;">帽子</a></li>
				<li><a href="javascript:;">手套</a></li>
				<li><a href="javascript:;">围巾</a></li>
				<li><a href="javascript:;">足球</a></li>
				<li><a href="javascript:;">篮球</a></li>
				<li><a href="javascript:;">运动装备</a></li>
				<span><a href="javascript:;">全部男子配件</a></span>
			</ul>
			<ul>
				<h3>运动分类</h3>
				<li><a href="javascript:;">跑步</a></li>
				<li><a href="javascript:;">户外</a></li>
				<li><a href="javascript:;">健身|训练</a></li>
				<li><a href="javascript:;">足球</a></li>
				<li><a href="javascript:;">篮球</a></li>
				<li><a href="javascript:;">网球</a></li>
				<li><a href="javascript:;">游泳</a></li>
				<li><a href="javascript:;">高尔夫</a></li>
				<span><a href="javascript:;">全部男子运动</a></span>
			</ul>
		</div>
	</li>
	<li class="bb"><a href="/html/component/list.html">女子</a></li>
	<li class="bb"><a href="/html/component/list.html">童装</a></li>
	<span>|</span>
	<li class="bb"><a href="/html/component/list.html">运动</a></li>
	<li class="bb"><a href="/html/component/list.html">品牌</a></li>
	<span>|</span>
	<li class="bb"><a href="/html/component/list.html">MADIDAS定制</a></li>
	<li class="bb"><a href="/html/component/list.html">COLLECTIONS</a></li>
</ul>
<div class="right">
	<ul>
		<li><a href="javascript:;">订单追踪</a><span>|</span></li>
		<li><a href="javascript:;">邮件订阅</a><span>|</span></li>
		<li><a href="javascript:;">在线客服</a><span>|</span></li>
		
		<li   class="nb1">			
			<a href="/html/component/login.html">登录</a>
		</li>		
		
		<li   class="nb1">
			<a href="/html/component/zhuce.html">注册</a>
		</li>
		<li  class="nb2"></li>
		<li>&nbsp;&nbsp;&nbsp;</li>
		<li id="leave" style="display: none; cursor: pointer;">退出</li>	
	</ul>
	<form class="r_input">
		<a href="javascript:;"></a>
		<input type="text"  id="seach"  class="seach"/>
		<a href="javascript:;"></a>
	</form>
	<div class="top_shop">
		<a><span class="gwc"></span></a>
	</div>
</div>
</div>

