<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/index.css"/>
	<link rel="stylesheet" type="text/css" href="/css/component/login.css"/>
	<script type="text/javascript" src="/libs/jquery/jquery-1.11.3.js" ></script>
	<title>adidas登录页面</title>
</head>
<body>
	<header></header>
	<!--登录界面左侧-->
<div class="login">
    <div class="l_left">
            <h2>账号密码登录</h2>
        <form id="form">
           <input id="username" type="text" placeholder="请输入用户名"  name="username"/><span class="s1">请正确输入</span>
           <input id="password" type="password" placeholder="请输入密码" name="password"/><span class="s2">请正确输入</span>
           <label class="label"><input type="checkbox"><span class="reme">记住我的信息</span></label>
           <button id="Dl">登录</button>
        </form>
 			
                <p><a href="javascript:;">忘记密码？</a></p>
                    <div class="qt_dl">
                            <h4>使用其他方式登录</h4>
                            <a href=""><i class="wx"></i></a>
                            <a href=""><i class="qq"></i></a>
                            <a href=""><i class="wb"></i></a>
                            <span>*已绑定微信会员卡的会员，可通过微信直接登录</span>
                    </div>
        

    </div>
    <!--登录界面右侧-->
	<div class="l_right">
	      <h4>adiCLUB会员相关权益</h4>
	      <span>成为adiclub会员并完善个人信息，即可享受更多权益：</span>
	      <ul>
	          <li>安全快捷支付订单</li>
	          <li>随时跟踪订单状态</li>
	          <li>即时收到打折优惠及新品发布信息</li>
	          <li>全场免普通达运费和七天无理由退换货服务</li>
	          <li>消费即可获得积分，铜牌以上会员即可积分兑换优惠券</li>
	      </ul>
	</div>
</div>
   <footer></footer>

</body>
<script src="/libs/require/require.js" type="text/javascript" data-main="/js/login.js"></script>

</html>