
<div class="lunbo">
		<ul class="lb_ul">
			<li><img src="/images/lb1.jpg"/></li>
			<li><img src="/images/lb2.jpg"/></li>
			<li><img src="/images/lb4.jpg"/></li>
			<li><img src="/images/lb5.jpg"/></li>
		</ul>		
		<ol>
			
		</ol>
		<div class="goprev go_sroll" id="goprev">
		<i class="click_goprev"></i>
		</div>
		<div class="gonext go_sroll" id="gonext">
		<i class="click_gonext"></i>
		</div>
</div>
<div class="nav">
		<dl class="nav_dl">
			<dt><a href="/html/component/list.html"><img src="images/sy1.jpg"></a></dt>
			<dd>凌阻系列 肆练由我</dd>
			<dd>立即选购</dd>
		</dl>
		<dl class="nav_dl">
			<dt><a href="/html/component/list.html"><img src="images/sy2.jpg"></a></dt>
			<dd>攻占主流</dd>
			<dd>立即选购</dd>
		</dl>
		<dl class="nav_dl">
			<dt><a href="/html/component/list.html"><img src="images/sy3.jpg"></a></dt>
			<dd>UltraBOOST LEGACY 系列</dd>
			<dd>立即选购</dd>
		</dl>
		<dl class="nav_dl">
			<dt><a href="/html/component/list.html"><img src="images/sy4.jpg"></a></dt>
			<dd>mi Superstar 80s</dd>
			<dd>立即选购</dd>
		</dl>
</div>
<!--本月主推-->
<h3 class="hh">本月主推</h3>
<div class="swiper-container" id="swiper_2" >
	<div class="swiper-wrapper">
		<div class="swiper-slide slide_2">
				<img src="images/index1.jpg"/>
				<span>PureBOOST RBL CW 跑步鞋</span>
				<span>1899</span>
		</div>
		<div class="swiper-slide slide_2">
				<img src="images/index2.jpg"/>
				<span>PureBOOST RBL CW 跑步鞋</span>
				<span>1899</span>
		</div>
		<div class="swiper-slide slide_2">
				<img src="images/index3.jpg"/>
				<span>PureBOOST RBL CW 跑步鞋</span>
				<span>1899</span>
		</div>
		<div class="swiper-slide slide_2">
				<img src="images/index4.jpg"/>
				<span>PureBOOST RBL CW 跑步鞋</span>
				<span>1899</span>
		</div>
		<div class="swiper-slide slide_2">
				<img src="images/index5.jpg"/>
				<span>PureBOOST RBL CW 跑步鞋</span>
				<span>1899</span>
		</div>
		<div class="swiper-slide slide_2">
				<img src="images/index6.jpg"/>
				<span>PureBOOST RBL CW 跑步鞋</span>
				<span>1899</span>
		</div>
		<div class="swiper-slide slide_2">
				<img src="images/index7.jpg"/>
				<span>PureBOOST RBL CW 跑步鞋</span>
				<span>1899</span>
		</div>
	</div>
	
	
	<div class="swiper-pagination"></div>
  </div>
<!--本周热卖-->
  <h3 class="hh">本周热卖</h3>
  <div class="swiper-container" id="swiper_3" >
	  <div class="swiper-wrapper">
		  <div class="swiper-slide slide_2">
				  <img src="images/index8.jpg"/>
				  <span>PureBOOST RBL CW 跑步鞋</span>
				  <span>1899</span>
		  </div>
		  <div class="swiper-slide slide_2">
				  <img src="images/index9.jpg"/>
				  <span>PureBOOST RBL CW 跑步鞋</span>
				  <span>1899</span>
		  </div>
		  <div class="swiper-slide slide_2">
				  <img src="images/index10.jpg"/>
				  <span>PureBOOST RBL CW 跑步鞋</span>
				  <span>1899</span>
		  </div>
		  <div class="swiper-slide slide_2">
				  <img src="images/index11.jpg"/>
				  <span>PureBOOST RBL CW 跑步鞋</span>
				  <span>1899</span>
		  </div>
		  <div class="swiper-slide slide_2">
				  <img src="images/index12.jpg"/>
				  <span>PureBOOST RBL CW 跑步鞋</span>
				  <span>1899</span>
		  </div>
		  <div class="swiper-slide slide_2">
				  <img src="images/index13.jpg"/>
				  <span>PureBOOST RBL CW 跑步鞋</span>
				  <span>1899</span>
		  </div>
		  <div class="swiper-slide slide_2">
				  <img src="images/index14.jpg"/>
				  <span>PureBOOST RBL CW 跑步鞋</span>
				  <span>1899</span>
		  </div>
	  </div>
	  <div class=" swiper-button-white goprev">
	  	<i class="click_goprev"></i>
	  </div>
	  <!--左箭头-->
	  <div class=" swiper-button-white gonext">
	  	<i class="click_gonext"></i>
	  </div>
	  <!--右箭头-->
	  <div class="swiper-pagination"></div>
	</div>
  


